<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >


<div th:fragment="CreateFORs">
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <form class="card card-body" th:action="@{/createFOR}" th:object="${research}" method="post">
                    <h3>Create a new Field of Research: </h3>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Enter Email Address" name="name" type="text" th:field="*{emailAddress}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Enter the Title for Field of Research" name="name" type="text" th:field="*{name}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Enter the Description for the Field of Research" name="description" th:field="*{description}" required></textarea>
                        </div>

                        <input class="btn btn-lg btn-primary btn-block" value="Add Field of Research" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



</html>