<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="mx-auto py-5" style="width: 95%;">
    <p th:if="${addError}" class="error text-danger text-center"> Student was not added. ERROR</p>
    <div class="alert alert-success" role="alert"  th:if="${(param.message != null)}">
        <p th:text="${param.message}"></p>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Student Email</th>
            <th>Decision</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${dat}">
            <td th:text="${tempUser.email}" />
            <td><a th:href="@{/sendEmail/{id}(id=${tempUser.id})}" class="btn btn-primary">Send Email</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
