<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="index">
    <div class="mt-5">
        <div class="row">
            <div class="mx-auto">
                <h1><a class="nav-link" sec:authorize="hasAuthority('PROFESSOR')" href="createFOR.html" th:href="@{/createFOR}">Create a new Field Of Study</a></h1>
                <h1><a class="nav-link" href="fieldsOfResearch.html" th:href="@{/fieldOfResearch}">Current Fields Of Study</a></h1>
                <h1><a class="nav-link" sec:authorize="hasAuthority('STUDENT')" href="studentProfile.html" th:href="@{/studentProfile}">Proceed to Student Profile</a></h1>
                <h1><a class="nav-link" sec:authorize="hasAuthority('STUDENT')" href="studentStatus.html" th:href="@{/studentStatus}">Proceed to Apply</a></h1>
            </div>
        </div>
    </div>
</div>

</html>
