<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="site-head">
    <title id="pageTitle">Layout Generic Title </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<header th:fragment="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fieldOfResearch.html" th:href="@{/fieldOfResearch}"> Fields of Research </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('PROFESSOR')" href="createFOR.html" th:href="@{/createFOR}">Create Fields of Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('ADMINISTRATOR')" href="StudentData.html" th:href="@{/StudentData}"> Current Student Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('PROFESSOR')" href="StudentCandidates.html" th:href="@{/StudentCandidates}">Field of Research Candidates</a>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Graduate Admission Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"  sec:authorize="isAuthenticated()">
                    <a class="nav-link" id="logoutLink" href="registration.html" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


</header>


<td th:switch="${view}" th:object="${user}">
    <span th:case="'registration'">
        <script> $("#pageTitle").html("Register"); </script>
        <div th:replace="registration"/>
    </span>
    <span th:case="'login'">
        <script> $("#pageTitle").html("Login"); </script>
        <div th:replace="login"/>
    </span>
    <span th:case="'createFOR'">
        <script> $("#pageTitle").html("Create a field of study"); </script>
        <div th:replace="createFOR"/>
    </span>
    <span th:case="'fieldOfResearch'">
        <script> $("#pageTitle").html("Fields of Research"); </script>
        <div th:replace="fieldOfResearch"/>
    </span>
    <div th:case="'StudentCandidates'">
        <script> $("#pageTitle").html("Field of Research Candidates"); </script>
        <div th:replace="StudentCandidates"/>
    </div>
    <div th:case="'StudentData'">
        <script> $("#pageTitle").html("Current Student Applications"); </script>
        <div th:replace="StudentData"/>
    </div>
    <div th:case="'index'">
        <script> $("#pageTitle").html("Graduate Admission Project"); </script>
        <div th:replace="index"/>
    </div>
    <div th:case="'studentProfile'">
        <script> $("#pageTitle").html("Student Profile"); </script>
        <div th:replace="studentProfile"/>
    </div>
    <div th:case="'studentInfo'">
        <script> $("#pageTitle").html("Student Info"); </script>
        <div th:replace="studentInfo"/>
    </div>
</td>

</body>
</html>
