<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid py-6">

    <div class="row">
        <div class="col-md-10 mx-auto">
            <form class="card card-body" th:action="@{/register}" th:object="${user}" method="post">
                <h3 class="text-center mb-4">Account Registration</h3>
                <p th:if="${regError}" class="error text-danger text-center">This Username has already been taken.</p>
                <p th:if="${pwError}" class="error text-danger text-center">The Passwords you have entered do not match.</p>
                <fieldset>
                    <div class="form-group">
                        <label>Role:</label>
                        <select class="form-control input-lg" th:field="*{role}">
                            <option th:value="STUDENT" th:text="Student"></option>
                            <option th:value="PROFESSOR" th:text="Professor"></option>
                            <option th:value="ADMINISTRATOR" th:text="Administrator"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>UserName:</label>
                        <input class="form-control input-lg" placeholder="Please Enter a Username" name="username"
                               type="text" th:field="*{username}" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control input-lg" placeholder="Please enter a Password" name="password"
                               value="" type="password" th:field="*{password}" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Confirm your Password" name="confirmPassword"
                               value="" type="password" th:field="*{confPassword}" required>
                    </div>

                    <input class="btn btn-lg btn-primary btn-block" value="Register" type="submit">
                </fieldset>
            </form>
        </div>
    </div>
</div>
</html>
