<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="studentProfile">
    <div class="container-fluid py-6">

        <div class="row">
            <div class="col-md-10 mx-auto">
                <form class="card card-body" th:action="@{/studentProfile}" th:object="${student}" method="post">
                    <h3 class="text-center mb-4">Create Profile</h3>
                    <fieldset>
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control input-lg" placeholder="Please Enter Your Email Address" name="name"
                                   type="text" th:field="*{email}" required>
                        </div>
                        <div class="form-group">
                            <label>CV:</label>
                            <textarea rows="20" type="text" class="form-control input-lgt" placeholder="Please enter your CV" name="cvFile" th:field="*{cv}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Diploma:</label>
                            <textarea rows="5" type="text" class="form-control input-lg" placeholder="Please enter your Diploma" name="diplomaFile" th:field="*{diploma}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Grade Audit:</label>
                            <textarea rows="5" type="text" class="form-control input-lg" placeholder="Please enter your Grade Audit" name="gradeFile" th:field="*{gradeAudit}"></textarea>
                        </div>

                        <input class="btn btn-lg btn-primary btn-block" value="Save" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</html>