<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="mx-auto py-5" style="width: 95%;">
    <p th:if="${addError}" class="error text-danger text-center"> Student was not added. ERROR</p>
    <div class="alert alert-success" role="alert"  th:if="${(param.message != null)}">
        <p th:text="${param.message}"></p>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Field of Research</th>
            <th>Email</th>
            <th>Diploma</th>
            <th>CV</th>
            <th>Grade Audit</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempRes : ${dat}">
            <td><span th:text="${tempRes.getName()}">Title</span></td>

                <p th:each="tempUser : ${dat2}">
                    <td th:text="${tempUser.email}" />
                    <td th:text="${tempUser.diploma}"/>
                    <td th:text="${tempUser.cv}"/>
                    <td th:text="${tempUser.gradeAudit}"/>
<!--                    <td>-->
<!--                        <span id="details-button">-->
<!--                            <button class="btn btn-large btn-success" data-toggle="modal" data-target="#details" th:attr="data-target='#details'+${res.getName()}"> ACTIONS-->
<!--                            </button>-->
<!--                        </span>-->
<!--                    </td>-->
                    <td>
                        <label for=${tempUser.id}>Enter Assessment:</label>
                        <select id=${tempUser.id}>
                            <option value="C1">Don’t recommend for admission</option>
                            <option value="C2">Recommend but not interested in supervision</option>
                            <option value="C3">Recommend but no funding</option>
                            <option value="C4">Recommend and yes to funding</option>
                        </select>
                    </td>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block"> Submit</button>
    </div>
</div>
</html>
