<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Email</th>
        <th>Diploma</th>
        <th>CV</th>
        <th>Grade Audit</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="tempUser : ${dat2}">

        <td th:text="${tempUser.email}" />
        <td th:text="${tempUser.diploma}" />
        <td th:text="${tempUser.cv}" />
        <td th:text="${tempUser.gradeAudit}" />

    </tr>
    </tbody>
</table>

<div th:fragment="Students">
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <form class="card card-body" th:action="@{/StudentCandidate}" th:object="${candidate}" method="post">
                    <h3>Create new candidate: </h3>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Enter Email " name="email" type="text" th:field="*{email}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Enter the decision" name="decision" type="text" th:field="*{decision}" required>
                        </div>


                        <input class="btn btn-lg btn-primary btn-block" value="save1" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



</html>